:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #255852;
  --color-green: #467157;
  --color-yellow: #FCD21F;
  --color-text: #2E363E; }

.burger {
  width: var(--burger-width);
  height: var(--burger-height);
  position: relative;
  color: #000;
  cursor: pointer; }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out; }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger::before {
    top: 0; }
  .burger::after {
    top: calc(100% - var(--burger-line-height)); }
  .burger.burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out; }
  .burger.burger--active::before {
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger.burger--active::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/../fonts/PTSans-Italic.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text);
  background: #ffffff; }
  body.lock {
    overflow: hidden; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 1000;
  transition: all 2s ease-in; }
  .preloader.done {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 2s ease-in; }
  .preloader .loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px; }
  .preloader .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .preloader .inner.one {
    left: 0%;
    top: 0%;
    -webkit-animation: rotate-one 1s linear infinite;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid var(--color-dark); }
  .preloader .inner.two {
    right: 0%;
    top: 0%;
    -webkit-animation: rotate-two 1s linear infinite;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid var(--color-green); }
  .preloader .inner.three {
    right: 0%;
    bottom: 0%;
    -webkit-animation: rotate-three 1s linear infinite;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid var(--color-dark); }

@-webkit-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  background: #f5f5f5; }

.container-full {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background: #f5f5f5; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 350ms; }

.scroll-to-top svg {
  fill: var(--color-dark); }

.scroll-to-top:hover {
  opacity: 1;
  cursor: pointer; }

.scroll-to-top.show {
  opacity: 0.5; }

.p-100 {
  padding: 100px 0; }

.section-title {
  font-size: 24px;
  color: #111; }

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: var(--color-green);
  color: #fff;
  transition: color 0.2s; }
  .btn:hover {
    color: var(--color-yellow); }

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  -webkit-animation: ripple 15s infinite;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: 1; }

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px; }

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px; }

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px; }

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px; }

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px; }

.shade1 {
  opacity: 0.2; }

.shade2 {
  opacity: 0.5; }

.shade3 {
  opacity: 0.7; }

.shade4 {
  opacity: 0.8; }

.shade5 {
  opacity: 0.9; }

@-webkit-keyframes ripple {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.8); } }

@keyframes ripple {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.8); } }

.page {
  min-height: 100vh; }
  .page-container {
    min-height: 100vh;
    background: #f5f5f5;
    display: flex; }
  .page__content {
    flex-grow: 1; }

.sidebar {
  width: 295px;
  flex-shrink: 0; }
  .sidebar-nav {
    background: linear-gradient(to bottom, var(--color-dark), var(--color-green));
    margin-bottom: 20px; }
    .sidebar-nav .logo {
      text-align: center; }
      .sidebar-nav .logo svg {
        width: 70px;
        height: 70px; }
  .sidebar .news-archiv {
    text-align: center;
    background: #fff;
    padding-top: 15px;
    margin-bottom: 20px; }
    .sidebar .news-archiv h4 {
      font-size: 18px;
      text-transform: uppercase;
      color: var(--color-dark); }
    .sidebar .news-archiv ul {
      position: relative;
      padding: 20px 0 10px 0;
      height: 300px;
      overflow: auto; }
      .sidebar .news-archiv ul::-webkit-scrollbar {
        width: 3px;
        border-radius: 4px; }
      .sidebar .news-archiv ul::-webkit-scrollbar-track {
        background: var(--color-yellow); }
      .sidebar .news-archiv ul::-webkit-scrollbar-thumb {
        background-color: var(--color-green); }
      .sidebar .news-archiv ul li {
        display: block;
        margin-bottom: 10px;
        background: #25585217; }
        .sidebar .news-archiv ul li a {
          display: block;
          padding: 5px 0;
          color: var(--color-green); }
          .sidebar .news-archiv ul li a span.data {
            font-size: 13px;
            color: #111; }
          .sidebar .news-archiv ul li a h6 {
            font-size: 15px; }

.nav {
  width: 100%; }
  .nav ul.nav-list {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .nav ul.nav-list .nav-item {
      position: relative;
      display: block;
      text-align: center; }
      .nav ul.nav-list .nav-item a.nav-link {
        display: inline-block;
        padding: 5px 0;
        color: var(--color-yellow);
        border-bottom: 1px solid transparent;
        transition: color 0.2s; }
        .nav ul.nav-list .nav-item a.nav-link:hover {
          color: #fff; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.767);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 999; }
  .popup__container {
    position: relative;
    width: 500px;
    height: 400px;
    background: #fff;
    padding: 30px 20px;
    opacity: 0;
    transform: translateY(-20%);
    transition: transform 0.5s; }
    .popup__container h3 {
      display: inline-block;
      margin-bottom: 15px; }
    .popup__container p {
      font-size: inherit;
      line-height: 1.3; }
  .popup.popup-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s; }
    .popup.popup-open .popup__container {
      opacity: 1;
      transform: translateY(0); }
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    transition: transform 0.2s; }
    .popup-close:before, .popup-close:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #111; }
    .popup-close:before {
      transform: rotate(45deg); }
    .popup-close:after {
      transform: rotate(-45deg); }
    .popup-close:hover {
      transform: scale(1.1); }

.accordion {
  width: 1000px; }
  .accordion__item {
    position: relative;
    margin: 10px 20px; }
    .accordion__item .label {
      position: relative;
      padding: 10px;
      background: #2694af;
      color: #fff;
      cursor: pointer; }
      .accordion__item .label::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em; }
    .accordion__item .content {
      position: relative;
      background: #fff;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 0.5s;
      overflow-y: auto; }
    .accordion__item.active .label::before {
      content: '-'; }
    .accordion__item.active .content {
      height: 150px;
      padding: 10px;
      opacity: 1; }
